<ion-content>
  <div class="login-container" >
    <div style="margin-left: 10;" >
        <ion-buttons slot="start" style="margin-left: 10px; padding-top: 5px;" > 
            <ion-menu-button> 
                <img src='./assets/images/icon_menu.svg'> 
            </ion-menu-button> 
        </ion-buttons>
    </div>
    <img class="center-img" src="./assets/images/bhd_logo.png" alt="Banco BHN Leon">
    <div style="width: 90%; margin-top: 15%; align-items: center; margin-left: 5%;">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="input-item-login">
        <div style="vertical-align:middle;" >
          <img class="item-icon" src='./assets/images/icon_user.svg'>           
        </div>
        <div style="text-align: start;">
          <ion-input placeholder="Documento de identidad" formControlName="userId"></ion-input>
        </div>
      </div>
      <br>
      <div class="input-item-login">
        <div style="vertical-align:middle;" >
          <img class="item-icon" src='./assets/images/icon_password.svg'> 
        </div>
        <div style="text-align: start;">
          <ion-input placeholder="Contraseña" formControlName="password" ></ion-input>
        </div>
      </div>
      <br>
      <div style=" text-align: center;">
          <ion-toggle ></ion-toggle>
      </div>
      <ion-button type="submit" class="login-button" expand="block"  [disabled]="!loginForm.valid">INICIAR SESIÓN</ion-button>
    </form>
    </div>
  </div>
</ion-content>