.login-container{
    height: 100%; 
    background-image: url("../../../assets/images/bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.center-img {
    display:block;
    margin:auto;
    margin-top: 15%;
}

.item-icon{
    margin:10px 14px;
    height: 16px;
}

.input-item-login{
    display: flex; 
    background-color: white;
    border-radius: 8px;
    max-height: 46px;
    margin:0px auto;
    vertical-align:middle;
    border: 1px solid #CCCCCC99;
}

ion-input {
    margin-top:2px;
    font-size: 14px;
    --placeholder-color: #CCCCCC;
    --placeholder-opacity: 1;
  }

.login-button{
    font-size: 14px;
    width: 100%;
    height: 44px;
}

ion-button {
    --border-radius: 8px!important;
}

 