<ion-router-outlet></ion-router-outlet>
<ion-tabs color="warning">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="productos">
      <ion-icon class="icon-news" src="./assets/images/icon_account_gray.svg"></ion-icon>
      <ion-label style="font-size: 10px !important;">Mis Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transacciones">
      <ion-icon class="icon-news" src="./assets/images/icon_transactions_gray.svg"></ion-icon>
      <ion-label style="font-size: 10px !important;">Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas">
      <ion-icon class="icon-news" src="./assets/images/icon_offers_gray.svg"></ion-icon>
      <ion-label style="font-size: 10px !important;">Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuraciones">
      <ion-icon class="icon-news" src="./assets/images/icon_config_gray.svg"></ion-icon>
      <ion-label style="font-size: 10px !important;">Configuraciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

