<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <div class="header-section">
        <div class="title-container">
          <div *ngIf="user == null; else elseSection">
            <img src="./assets/images/bhd_logo.png" alt="">
          </div>
          <ng-template #elseSection>
            <div style="margin-left: 10; padding-top: 3px;" >
              <img class="photo-user" src="{{user.photo}}" alt="">
           </div>
           <div >
               <p style=" width: 100%; text-align: start; margin-left: 10; padding-top: 6px;">
                   {{user.name}} {{user.lastName}}
               </p> 
           </div>
          </ng-template>
        </div>
    </div>
      <ion-content>
        <br>
        <br>
        <ion-list>
          <ion-menu-toggle id="menu" auto-hide="false">
            <div *ngIf="user!=null">
            <ion-item [routerDirection]="'root'" [routerLink]="'/dashboard/productos'">
              <ion-icon slot="start" class="icon-news" src="./assets/images/icon_my_products_green.svg"></ion-icon>
              <ion-label>
                Mis productos
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/dashboard/transacciones'">
              <ion-icon slot="start" class="icon-news" src="./assets/images/icon_transactions_green.svg"></ion-icon>
              <ion-label>
                Transacciones
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/dashboard/ofertas'">
              <ion-icon slot="start" class="icon-news" src="./assets/images/icon_offers_green.svg"></ion-icon>
              <ion-label>
                Ofertas
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/dashboard/configuraciones'">
              <ion-icon slot="start"class="icon-news" src="./assets/images/icon_config_green.svg"></ion-icon>
              <ion-label>
                Configuración
              </ion-label>
            </ion-item>
          </div>
            <br>
            <br>
            <ion-item [routerDirection]="'root'" [routerLink]="'/contacto'">
              <ion-icon slot="start" class="icon-news" src="./assets/images/icon_offers_green.svg"></ion-icon>
              <ion-label>
                Contacto
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/sucursales'">
              <ion-icon slot="start"class="icon-news" src="./assets/images/icon_config_green.svg"></ion-icon>
              <ion-label>
                Sucursales
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
        <div *ngIf="user!=null">
          <ion-button (click)="cerrarSesion()" class="login-button" expand="block" style="margin-top: 50px;" >CERRAR SESIÓN</ion-button>
        </div>
      </ion-content>
    </ion-menu> 
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
