
<section>
    <div class="header-section">
        <div style="display: flex; justify-content: center;">
            <div style="margin-left: 10;" >
                <ion-buttons slot="start" class="menu-button" > 
                    <ion-menu-button> 
                        <img src='./assets/images/icon_menu.svg'> 
                    </ion-menu-button> 
                </ion-buttons>
            </div>
            <div class="titleSection">
                <h3>
                    Producto
                </h3> 
            </div>
        </div>
    </div>

</section>
   
  <ion-content>
        <div style="padding: 20px;">
            <div id="cuentas">
                <p class="title-acount-card" >CUENTAS ({{accounts.length}})</p>
                <div class="account-card" *ngFor="let account of accounts">
                    <div class=first-item>
                        <div>
                            <img  src='./assets/images/icon_account_gray.svg'> 
                        </div>
                        <div class="number-card" >
                             <p>   {{account.alias}} - {{account.number}}</p>
                        </div>
                    </div>
                    <p> <span class="money" >{{account.productType}}$</span> <span class="amount">{{account.availableAmount}}</span></p>
                    <p class="balance"> Balance disponible </p>
                </div>
            </div>

            <div id="tarjetas">
                <p class="title-credit-card" >TARJETAS ({{accounts.length}})</p>
                <div class="account-card credit-cards" *ngFor="let creditcard of creditCards">
                    <div class=first-item>
                        <div>
                            <img  src='./assets/images/icon_credit_card_gray.svg'> 
                        </div>
                        <div class="number-card" >
                             <p>   {{creditcard.alias}} - {{creditcard.number}}</p>
                        </div>
                    </div>
                    <p> <span class="money" >RD$</span> <span class="amount">{{creditcard.availableAmountRD}}</span></p>
                    <p> <span class="money" >US$</span> <span class="amount">{{creditcard.availableAmountUS}}</span></p>
                    <p class="balance"> Balance disponible </p>
                </div>
            </div>
        </div>
  </ion-content>