
.account-card{
    font-weight: 90%; 
    background-color: white; 
    padding-bottom: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #CCCCCC99;
    border-top: 1px solid #CCCCCC99;
    border-bottom: 1px solid #CCCCCC99;
    border-left: 6px solid #49B742;  
    margin-bottom: 16px;
}

.account-card p{
    margin: 0px;
}

.title-acount-card{
    color: #49B742; 
    font-weight: 600;
    font-size: 14px;
}

.title-credit-card{
    margin-top: 26px;
    color: #00477A; 
    font-weight: 600;
    font-size: 14px;
}

.number-card{
    font-size: 14px;
    width: 62%;
    position: absolute;
    margin-left: 80px;
    color: #666666;
}

.first-item{
    display: flex; 
    width: 100%; 
    align-items: center;
}

.first-item img{
    margin-left: 10; height: 40px; margin: 16px;
}
.money{
    font-size:14px;
    margin: 0px 0px 3px 16px;
    color: #666666;
}

.amount{
    font-size: 24px; 
    margin-left: 8px;
    color: #666666;
}
.balance{
    margin: 0px 0px 0px 16px !important; 
    font-size: 10px;
    color: #999999;
}

.credit-cards{
    border-left: 6px solid #00477A; 
}