
<section>
  <div class="header-section">
      <div style="display: flex; justify-content: center;">
          <div style="margin-left: 10;" >
              <ion-buttons slot="start" class="menu-button" > 
                  <ion-menu-button> 
                      <img src='./assets/images/icon_menu.svg'> 
                  </ion-menu-button> 
              </ion-buttons>
          </div>
          <div class="titleSection">
              <h3>
                Contacto
              </h3> 
          </div>
      </div>
  </div>

</section>
 
<ion-content>
      <div class="template-content">
              <div style="width: 300px; text-align: center;">
                <p style="font-size: 24px;"> Pantalla <br> de Contacto </p> 
                <p  style="font-size: 14px;"> Esta pantalla es únicamente para validar como se construye la navegación de la aplicación, por lo tanto, este puede ser el único contenido </p>
              </div>
              

      </div>
</ion-content>