/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: lato;
    src: url("./assets/fonts/TrebuchetMS.ttf");
  }

.header-section{
    border-bottom: 4px solid #49B742;
}

.menu-button{
    margin: 5px 10px 5px 5px;
}

.titleSection{
    text-align: center; 
    width: 100%; 
}
.titleSection h3{
    margin-left: -50px ;
    padding-top: 5px;
    font-size: 16px !important;
    font-family: "Trebuchet MS" ;
}

.template-content{
    background-color: #F5F5F5; color: #CCCCCC;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Trebuchet MS" ;
    height: 100%;
    width: 100%;
}